<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body class="article">
    <div class="header">
        <img src="{% static 'img/logo.png' %}" alt="Логотип">
    </div>
    <div class="content">
        <div class="one-post">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <div class="article-text">
                {{ post.text|linebreaks }}
            </div>
        </div>
        <div class="link-back">
            <a href="{% url 'archive' %}">Все записи</a>
        </div>
    </div>
</body>
</html>